@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/* Images */ 
.logo {
    max-width: 250px;
}

.border {
    padding: 30px;
    margin: auto;
}

h1 {
    text-align: center;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 30px 10px;
}