@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/* Images */ 
.logo {
    max-width: 250px;
}

.border {
    padding: 30px;
    margin: auto;
}

h1 {
    text-align: center;
}

main {
    padding: 50px;
}


form {
    max-width: 800px;
}



/* LOADER */ 


.loader {
    display: block;
    width: 80px;
    height: 80px;
    margin: 100px auto;
}
  
.loader:after {
    content: " ";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #080808;
    border-color: transparent #000000 transparent #540000;
    animation: loader 2s linear infinite;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}